
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$HomeTaskClient-primary: mat-palette($mat-indigo);
$HomeTaskClient-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$HomeTaskClient-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$HomeTaskClient-theme: mat-light-theme((
  color: (
    primary: $HomeTaskClient-primary,
    accent: $HomeTaskClient-accent,
    warn: $HomeTaskClient-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($HomeTaskClient-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.google-chart circle[fill="#39afc8"] {
  stroke: #39AFC8 !important;
  fill: #ffffff !important;
  stroke-width: 2px !important;
}

.google-chart circle[fill="#96c03b"]{
  stroke: #96c03b !important;
  stroke-width: 2px !important;
}

